<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apprpe">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGEead"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppRPE">
        <activity
            android:name=".infoentrenamientoRealizado"
            android:exported="false" />
        <activity
            android:name=".ui.home.InsertarNuevoEjercicio"
            android:label="@string/InsertarNuevoEjercicio_activity" />
        <activity
            android:name=".EditarEjercicio"
            android:label="@string/Editar_ejercicio_activity" />
        <activity
            android:name=".VistaEjerciciosActivity"
            android:label="@string/title_activity_vista_ejercicio"
            android:theme="@style/Theme.AppRPE" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Inicio_activity"
            android:label="@string/pantalla_configuraci_n"
            android:theme="@style/Theme.AppRPE" />
        <activity
            android:name=".ui.home.InsertarEntrenamiento_activity"
            android:label="@string/title_insertar_sesion_activity" />
        <activity
            android:name=".Iniciar_entrenamiento"
            android:label="@string/iniciar_entrenamiento"
            android:theme="@style/Theme.AppRPE" />
    </application>

</manifest>