<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppRPE"
        android:screenOrientation="portrait"
        android:roundIcon="@mipmap/ic_launcher"
        android:icon="@mipmap/ic_launcher">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.apprpe.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".view.infoentrenamientoRealizado"
            android:exported="false"
            android:label="@string/fin_entrenamiento" />
        <activity
            android:name=".view.InsertarNuevoEjercicio"
            android:label="@string/InsertarNuevoEjercicio_activity" />
        <activity
            android:name=".view.EditarEjercicio"
            android:label="@string/Editar_ejercicio_activity" />
        <activity
            android:name=".view.VistaEjerciciosActivity"
            android:label="@string/title_activity_vista_ejercicio" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Inicio_activity"
            android:label="@string/pantalla_configuraci_n" />
        <activity
            android:name=".view.InsertarEntrenamiento"
            android:label="@string/title_insertar_sesion_activity" />
        <activity
            android:name=".view.Iniciar_entrenamiento"
            android:label="@string/iniciar_entrenamiento" />
    </application>

</manifest>